In [3]:
import psycopg2
import pandas as pd

connection = psycopg2.connect(
    host = "localhost",
    password = "Gray",
    dbname = "opulence",
    port = 5432,
    user = "postgres"
)
cursor = connection.cursor()
query = "SELECT * FROM marks"
cursor.execute(query)
result = cursor.fetchall()
col = [desc[0] for desc in cursor.description]
df = pd.DataFrame(result, columns = col)
df

    student_id  english  maths  kiswahili  science  social_studies
0            1       76     50         70       46              54
1            2       56     98         65       87              69
2            3       74     59         69       40              75
3            4       76     70         64       79              86
4            6       75     59         60       63              75
5            7       65     76         74       79              50
6            8       87     54         78       63              73
7            9       56     49         65       56              76
8           10       67     50         73       45              53
9           11       50     87         60       78              90
10          12       45     76         56       67              60
11          13       76     50         70       59              87
12          14       40     50         49       65              60
13          15       67     50         61       59              77
14          16       80     54         78       63              67
15          17       76     49         69       57              80
16          18       56     40         63       50              56
17          19       70     56         65       62              56
18          20       56     90         59       88              56
19          21       67     50         69       49              68
20           5       67     94         61       85              80

In [7]:
# plot a scatter graph for maths and science and a line chart
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns

sns.set_style("darkgrid")

x = df['maths']
y = df['science']
slope, intercept, r, p, std_err = stats.linregress(x, y)

def predict_math(x):
    return slope*x + intercept
model = map(list(predict_math, x))

plt.plot(x, model)
plt.scatter(df.maths, df.science, color=green)
plt.show()

TypeError: list expected at most 1 argument, got 2